.event-info {
  .radio-wrapper {
    display: flex;
    height: 3rem;
    justify-content: space-between;

    background-color: var(--input-base);
    outline: 1px solid var(--input-stroke);
    border-radius: 0.5rem;

    padding: 0.25rem 0.3125rem;
  }

  .radio-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: relative;

    & input,
    & input:focus,
    & label {
      all: unset;
    }

    & label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      
      font: var(--body-sm);

      position: absolute;
      inset: 0;

      & svg path {
        fill: var(--input-placeholder);
      }
    }

    &:has(:checked) {
      background-color: var(--input-stroke);
      border-radius: 0.3125rem;

      & svg path {
        fill: var(--brand-light);
      }

      & label {
        font-weight: 700;
      }
    }
  }
}
