#app {
  height: 100vh;

  display: grid;
  grid-template-columns: 25rem 51.25rem;
  justify-content: center; 
  gap: 1.25rem;

  overflow: hidden;
}

aside {
  & .aside-container {
    background-color: white;
    height: 100vh;
  }
}

main {
  overflow: auto;

  & .main-container {
    background-color: bisque;
  }
}
